
@{
    ViewBag.Title = "About Us | clini-C-are";
}
<br />
<h2>About Us</h2>

<div>
    <br />
    <br />

    IBM Clinical Automation System is a means of bringing the patients and physicians closer and making things easy for everyone.

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
