
@{
    ViewBag.Title = "Contact Us | clini-C-are";
}
<br />
<h2>Contact Us</h2>
<div>
    <br />
    <br />

    Contact Number: +91-6367435278
    <br /> <br />
    Address: IBM, Manyata, Bangalore, Karnataka, India

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
