
@{
    ViewBag.Title = "Home | clini-C-are";
}
<style>
    body
    {
        background-image:url('../../Images/WhatsApp Image 2020-05-15 at 4.09.38 PM.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
    }
    h1
    {
        font-family: 'Baskerville Old Face';
        font-style: oblique;
        //font-size: xx-large;
        font-weight: bolder;
        color:blanchedalmond
    }
    h3
    {
        color:lightpink
    }
</style>
<body>
    <div>
        <br />
        <br />
        <br />
        <h1 class="text-center"> <b>clini-C-are </b></h1>
        <br />
        <h3 class="text-center"> <b>A Clinical Automation System</b></h3>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h4><b>Developed By IBM</b></h4>
    </div>

</body>
